@media screen and (max-width: 1150px) {
  .header_navbar img {
    width: 190px;
    height: 35px;
  }
  .header_navbar {
    gap: 24px;
  }
  .header_navbar ul {
    gap: 25px;
  }
  .header_navbar ul a {
    font-size: 10px;
  }
  .header_contact a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .header_navbar {
    display: none;
  }
  .header_contact {
    margin-left: auto;
  }
  .for_responsibility {
    display: block;
    position: absolute;
  }
  .checkbox:checked + .for_responsibility .burger_overlay {
    display: block;
  }
  header {
    padding-top: 17px;
  }
  .burger {
    top: 25px;
    left: 25px;
  }
  .checkbox:checked + .for_responsibility .burger {
    transform: translate(243px, -5px);
  }
  .logo_item {
    width: 100%;
    margin-bottom: 20px;
  }
  .logo_item p {
    display: none;
  }
  .footer_item {
    width: 24%;
  }
  footer {
    padding: 41px 22px 27px 20px;
  }
  .footer_item ul li a {
    margin-bottom: 8px;
  }
  .footer_title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding-top: 10px;
  }
  .burger {
    top: 15px;
    left: 15px;
  }
  .checkbox:checked + .for_responsibility .burger {
    transform: translate(252px, 10px);
  }
  .policy_title h2 {
    font-size: 28px;
    max-width: 400px;
  }
  .logo_item {
    width: 100%;
    margin-bottom: 20px;
  }
  .logo_item p {
    display: none;
  }
  .footer_item {
    width: 47%;
    margin-bottom: 30px;
  }
  footer {
    padding: 41px 22px 27px 20px;
  }
  .footer_item ul li a {
    margin-bottom: 8px;
  }
  .footer_title {
    margin-bottom: 20px;
  }
  .footer_top {
    margin-bottom: 39px;
  }
  .footer_down a:last-of-type {
    display: none;
  }
  .footer_down a {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .header_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    transform: translateY(-5px);
  }
  .burger {
    top: 30px;
    left: 20px;
  }
  .checkbox:checked + .for_responsibility .burger {
    transform: translate(252px, -10px);
  }
  .burger_menu {
    width: 330px;
    height: 310px;
    padding: 20px;
  }
  .policy_title h2 {
    font-size: 20px;
    max-width: 300px;
  }
  .logo_item {
    width: 100%;
    margin-bottom: 20px;
  }
  .logo_item p {
    display: none;
  }
  .footer_item {
    width: 48%;
    margin-bottom: 20px;
  }
  footer {
    padding: 41px 7px 27px 5px;
  }
  .footer_item ul li a {
    margin-bottom: 4px;
  }
  .footer_title {
    margin-bottom: 15px;
  }
  .footer_top {
    margin-bottom: 29px;
  }
  .footer_down {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer_down a:nth-of-type(2) {
    margin-left: auto;
  }
  .footer_down a {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .burger {
    top: 25px;
    left: 20px;
  }
  .burger_menu {
    width: 320px;
    height: 310px;
    padding: 15px;
  }
  .checkbox:checked + .for_responsibility .burger {
    transform: translate(245px, -5px);
  }
  .title {
    text-align: center;
  }
  .logo_item {
    margin-bottom: 18px;
  }
  .logo_item img {
    margin: 0 auto;
  }
  .logo_item p {
    display: none;
  }
  .footer_item {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer_item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #link_max {
    display: none;
  }
  .footer_item p {
    text-align: center;
  }
  footer {
    padding: 41px 0px 27px 0px;
  }
  .footer_item ul li a {
    margin-bottom: 4px;
    font-size: 16px;
  }
  .footer_title {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .footer_top {
    margin-bottom: 29px;
  }
  .footer_down {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .footer_down a:nth-of-type(2) {
    margin: 0 auto;
  }
}
